.Wrapper {
	min-height: 100vh;
	width: 100vw;
}

.App {
	font-family: 'Manrope', sans-serif;
	margin: auto;
	max-width: 800px;
	padding-top: 4px;
	width: 94%;
}

h1, h2, h4 {
	margin: 0;
}

h1 {
	font-weight: 800;
	user-select: none;
}

h4 {
	color: rgb(80, 80, 80);
	user-select: none;
}


/**************** Home ****************/
.homeHeader {
	display: flex;
	justify-content: space-between;
	margin: auto;
	width: 100%;
}

.homeLinksWrapper {
	margin: 10px 0 0 0;
	display: flex;
}

.linkFlexRight {
	display: flex;
}

.btnFlex {
	margin-right: 10px;
}

.landingWrapper {
	flex-basis: 0;
}

main h3 {
	margin-bottom: 0;
}

main p, main ul, main a, footer a {
	color: #2c2c2c;
}

main a:hover, main a:focus, main a:active, footer a:hover, footer a:focus, footer a:active {
	color: rgb(3, 80, 242);
}


main p, .postHList {
	line-height: 1.5;
	margin-top: 6px;
}

.preListP {
	margin-bottom: 6px;
}

.postPList {
	margin-top: 0;
}

.postPList, .postHList {
	line-height: 1.5;
	padding-inline-start: 18px;
}

main section {
	/*margin: 50px 0;*/
	background-color: #ffffff;
	border-radius: 14px;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.10);
	margin: 30px 0;
	padding: 30px;
}

.introSection {
	align-items: center;
	box-shadow: none;
	display: flex;
	flex-flow: column nowrap;
	padding: 0;
}

.introSection h2 {
	text-align: center;
}

footer {
	align-items: center;
	display: flex;
	justify-content: space-evenly;
	padding: 30px 0;
}


/**************** Screenshots ****************/
.screenshotSection {
	align-items: center;
	box-shadow: none;
	display: flex;
	flex-flow: column nowrap;
}

.ssLargeMultiWrapper {

}

.ssMultiWrapper {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 100%;
}

.ssImgWrapper {
	align-items: center;
	display: flex;
	flex-flow: column nowrap;
	margin-top: 20px;
}

.followUp {
	border-top: rgba(0, 0, 0, 0.1) solid 1px;
	margin-top: 40px;
	padding-top: 15px;
	width: 100%;
}

.screenshotSection p {
	text-align: center;
}

.ssImg {
	border-radius: 6px;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.10);
	height: 633px;
	margin: 0 6px;
}

@media (max-width: 729px) {
	.ssMultiWrapper .ssImg {
		height: 500px;
	}
}

@media (max-width: 589px) {
	.ssMultiWrapper {
		align-items: center;
		flex-flow: column nowrap;
	}

	.ssMultiWrapper .ssImg {
		height: auto;
	}

	.ssImg {
		height: auto;
		max-width: 380px;
		width: 80vw;
	}
}


/**************** Buttons ****************/
.primaryBtn {
	background-color: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	color: rgb(3, 80, 242);
	cursor: pointer;
	display: block;
	font-size: 1rem;
	font-weight: 700;
	padding: 10px 16px;
	text-align: center;
	text-decoration: none;
	transition: all 200ms ease 0ms;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	user-select: none;
}

#registerBtn {
	margin-bottom: 10px;
}

.primaryBtn:hover, .primaryBtn:focus {
	background-color: rgba(0, 0, 0, 0.05);
	border-color: transparent;
}

.primaryBtn:active {
	background-color: rgba(0, 0, 0, 0.1);
}

.noBorder {
	border-color: transparent;
	margin-top: 10px;
}

.logoutBtn {
	color: rgb(218, 44, 56);
}

.redirectBtn {
	margin-top: 10px;
}

.alertBtn {
	padding: 10px 30px;
}

.userBtn {
	cursor: pointer;
	margin-top: 30px;
}

.cancelBtn {
	color: rgb(80,80,80);
}


.EntryBtn {
	background: #3220f2;
	border-radius: 28px;
	bottom: 24px;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.20);
	height: 56px;
	overflow: hidden;
	position: fixed;
	right: 24px;
	transition: all 150ms ease-in;
	user-select: none;
	width: 56px;
}

.CircleLink {
	align-items: center;
	background-color: transparent;
	border: none;
	display: flex;
	flex-flow: row nowrap;
	height: 100%;
	justify-content: space-around;
	margin: 0 auto;
	outline: none;
	text-decoration: none;
	width: 100%;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	user-select: none;
}

.CircleLink:hover {
	cursor: pointer;
}

.CircleLink:focus {
	outline: auto;
	outline-offset: -4px;
}

.CircleSpan {
	color: #ffffff;
	display: none;
	font-size: 18px;
	font-weight: 500;
	padding-right: 4px;
	user-select: none;
}

.btnExt {
	width: 130px;
}

.linkExt {
	width: 110px;
}

.spanExt {
	display: block;
}


/**************** Forms ****************/
label {
	display: block;
	font-size: 11pt;
	font-weight: 500;
}

label span {
	font-size: 8pt;
}

.entryForm {
	align-items: center;
	display: flex;
	flex-flow: column nowrap;
	padding: 0 15px 30px 15px;
	background-color: #ffffff;
	margin-top: 20px;
	border-radius: 14px;
	box-shadow: 0 3px 5px rgba(0,0,0,0.10);
}


.formGroup {
	margin-top: 30px;
	max-width: 414px;
	width: 100%;
}

.primaryInput {
	background-color: transparent;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	font-family: 'Manrope', sans-serif;
	font-size: 11pt;
	margin-top: 2px;
	padding: 6px 8px;
	width: calc(100% - 16px);
}

.primarySelect {
	background-color: transparent;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	font-family: 'Manrope', sans-serif;
	font-size: 11pt;
	height: 30px;
	margin-top: 4px;
	padding-left: 10px;
	width: 90px;
}

.checkContainer {
	display: flex;
	margin-top: 10px;
}

#passCheck, #secCheck {
	margin-right: 10px;
	transform: scale(1.5);
}

.otpFormWrapper {
	margin-bottom: 50px;
}

.otpFormWrapper .formGroup {
	margin-top: 20px;
}

.advContainer {
	align-items: center;
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
}

.advBtn {
	background-color: transparent;
	border: none;
	color: rgba(0, 0, 0, 0.4);
	cursor: pointer;
	font-family: 'Manrope', sans-serif;
	font-size: 11pt;
	font-weight: 600;
	margin: 0;
	padding: 10px 0;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	user-select: none;
}

.advBtn:hover {
	color: rgba(0, 0, 0, 0.75);
}

#password {
	margin-bottom: 6px;
}
small {
	font-size: 0.8rem;
	margin-top: 10px;
	color: rgb(80,80,80);
}


/**************** Token ****************/
.tokenList {
	list-style: none;
	padding: 0 0 80px 0;
}

.Token {
	opacity: 0;
	align-items: center;
	border-radius: 14px;
	background-color: #ffffff;
	box-shadow: 0 3px 5px rgba(0,0,0,0.10);
	cursor: pointer;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin: 8px auto;
	max-width: 376px;
	padding: 12px 12px;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	width: calc(100% - 24px);
	transition: background-color 150ms ease-out;
}

.Token:active {
	background-color: #e7f5ec;
}

.tokenInfo p {
	margin: 0;
	padding: 0;
	user-select: none;
}

.tIssuer {
	font-size: 1.4rem;
	font-weight: 500;
	white-space: nowrap;
	user-select: none;
}

.tLabel {
	color: rgba(0, 0, 0, 0.6);
	font-size: .9rem;
	user-select: none;
}

.tokenCode h2 {
	font-family: 'Roboto Mono', monospace;
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.1em;
	margin: 0 0 0 0;
	padding: 0;
	white-space: nowrap;
}

.lineContainer {
	height: 2px;
}

.EditIconWrapper {
	width: 80px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.EditIconInner {
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 25px;
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 200ms ease 0ms;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.20);
}

.desktopEdit {
	opacity: 0;
}
.desktopTokenWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.desktopTokenWrapper .Token {
	margin-right: 10px;
	margin-left: 5px;
}

.desktopTokenWrapper .EditIconWrapper {
	width: 50px;
}
.desktopTokenWrapper .EditIconInner {
	width: 40px;
	height: 40px;
	border-radius: 20px;
}
.desktopTokenWrapper .EditIconInner:hover, .EditIconInner:focus {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.05);
}

/**************** Toast ****************/
.ToastOuter {
	align-items: center;
	display: flex;
	height: 100px;
	justify-content: center;
	left: 0;
	position: fixed;
	top: 0;
	transition: all 100ms ease;
	width: 100vw;
}

.Toast {
	align-items: center;
	background-color: #ffffff;
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.11) 0px 14px 20px 0px;
	color: #3220f2;
	display: flex;
	font-weight: 800;
	height: 40px;
	justify-content: center;
	width: 120px;
	user-select: none;
}

.alertBox {
	background-color: #ffffff;
}

.camWrapper {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	margin-top: 40px;
}

.camSection {
	max-width: 420px;
	width: 98%;
}

.camSection section {
	border-radius: 14px;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.10);
}

.camSection section div:first-child {
	border: 50px solid rgba(0, 0, 0, 0.65) !important;
	box-shadow: rgba(50, 232, 117, 0.5) 0 0 0 5px inset !important;
}

.fade-in {
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .3s;
	animation-fill-mode: forwards;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


@media (max-width: 700px) {
	.tokenList {
		margin-left: -2%;
		width: 98vw;
	}
	.Token {
		width: calc(96% - 24px);
	}
}

@media (max-width: 500px) {
	.homeLinksWrapper {
		flex-direction: column;
	}
	.btnFlex {
		margin-right: 0;
		margin-bottom: 10px;
	}
}

@media (max-width: 460px) {
	.desktopTokenWrapper .tIssuer {
		font-size: 1.2rem;
	}
	.desktopTokenWrapper .tLabel {
		font-size: .7rem;
	}
	.desktopTokenWrapper .tokenCode h2 {
		font-size: 1.8rem;
	}
	.desktopTokenWrapper .Token {
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

@media(max-width: 400px) {
	.tIssuer {
		font-size: 1.2rem;
	}
	.tLabel {
		font-size: .8rem;
	}
	.tokenCode h2 {
		font-size: 2rem;
	}
}

@media(max-width: 358px) {
	.tokenCode h2 {
		font-size: 1.8rem;
	}
}

@media (prefers-color-scheme: dark) {
	.App, h1, h2 {
		color: #ffffff;
	}

	.primaryBtn {
		background-color: #3c4043;
		color: #50b5ff;
	}

	.primaryBtn h2 {
		color: #50b5ff;
	}

	.noBorder {
		background-color: #121212;
	}

	.screenshotSection {
		background-color: #121212;
	}

	.followUp {
		border-top: #adadad solid 1px;
	}

	.primaryBtn:hover, .primaryBtn:focus {
		background-color: #5e6469;
	}

	.noBorder:hover, .noBorder:focus {
		background-color: #222222;
	}

	.noBorder:active {
		background-color: #3c4043;
	}

	main a:hover, main a:focus, main a:active, footer a:hover, footer a:focus, footer a:active {
		color: #50b5ff;
	}

	.cancelBtn, main p, main ul, main a, footer a {
		color: #e0e0e0;
	}

	.logoutBtn {
		color: #ff9db1;
	}

	.entryForm, .Token, .alertBox, main section {
		background-color: #222222;
	}

	.introSection {
		background-color: #121212;
	}

	.primaryInput, .primarySelect {
		border-color: #383838;
		color: #ffffff;
	}

	small, .tLabel, .advBtn, .advBtn:focus {
		color: #adadad;
	}

	.EntryBtn {
		background: #4971b7;
	}
	.Token:active {
		background-color: #3e5644;
	}
	.EditIconInner {
		background-color: rgba(255, 255, 255, 0.6);
	}
	.desktopTokenWrapper .EditIconInner:hover, .EditIconInner:focus {
		background-color: rgba(255, 255, 255, 0.9);
	}
}